.column-container {
  display: flex;
  justify-content: space-evenly;
  max-width: 825px;
}

.content-container {
  display: flex;
  justify-content: center;
}

.App-header {
  background-color: #93c178;
  padding: 10px 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App-header__select {
  align-self: flex-start;
}

.App-header__skip-button {
  align-self: flex-start;
  margin-left: 15px;
}

.App-title {
  font-size: 1.2em;
  font-family: monospace;
  font-weight: normal;
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game-over-text__wrap {
  top: 25vh;
  padding: 30px;
  position: absolute;
  text-align: center;
}

.game-over-text {
  display: block;
  font-size: 3em;
  font-family: "EB Garamond", serif;
}

.game-over-text--small {
  display: block;
  font-size: 1em;
}
