@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Lora:400,700i|Merriweather:300|Source+Serif+Pro');

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.unselectable {
  user-select: none;
}


/* font-family: 'Lora', serif;
font-weight: 400;
font-style: italic;
font-family: 'Merriweather', serif;
font-family: 'EB Garamond', serif;  */